<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../css-styles/cadastro.css">
</head>

<body>
    <div class="box">
        <div class="popup-content">
        <form action="/cadastro" method="POST" id="cadastroForm">
            <label for="nome_completo">Nome Completo:</label>
            <input type="text" id="nome_completo" name="nome_completo" placeholder="Insira seu nome completo..." required>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Insira seu email..." required>
            
            <label for="telefone">Telefone:</label>
            <input type="tel" id="telefone" name="telefone" placeholder="Insira seu telefone..." required>
            
            <label for="data_nascimento">Data de Nascimento:</label>
            <input type="date" id="data_nascimento" name="data_nascimento" placeholder="Insira sua data de nascimento..." required>
            
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" placeholder="Escolha sua senha..." required>
            
            <button type="submit" id="submit">Cadastrar</button>
        </form>
    </div>
    </div>

    <script src="../js/cadastro.js"></script> 

</body>
</html>