<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css-styles/login.css">
</head>

<body>
    <div id="box-login">
        <form id="cadastro-form">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Insira seu email..." required>
            <br><br>
            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" placeholder="Insira sua senha..." required minlength="4">
            <br><br>
            <button type="submit" id="logar-btn">ENTRAR</button>
            <h1>Não possui cadastro? <a href="../views/cadastro.html">Cadastre-se</a></h1>
        </form>
    </div>
   
    <script src="../js/login.js"></script>
</body>
</html>
