<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css-styles/index.css">
</head>

<body>
    <form>
                <input type="text" placeholder="E-mail" id="email">
                <br><br>
                <input type="password" placeholder="Senha" id="senha">
                <br><br>
                <input type="submit" onclick="logar()">
    </form>

<script>   </script>    

</body>
</html>